/* Apply the new class to the login button
   nav .styled-button,
  nav .styled-login-button,
  nav .styled-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 150px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }

  nav .styled-button:hover,
  nav .styled-login-button:hover {
    background-color: #45a049;
  }  */



  /* .styled-login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
    */


