/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* header style children vertically */

header {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.logo-container {
  width: 100%;
  height: 60px; /* Adjust the height as needed */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.actions-container {
  width: 100%;
  height: 60px; /* Adjust the height as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-heading {
  margin: 0; /* Remove margin */
  text-align: center; /* Center text */
  margin-right: 300px;
}

.dashboard-heading {
  margin-left: 0px; /* Adjust as needed */
}


.logout-button {
  color: #fff;
  text-decoration: none;
  padding: 8px 14px; /* Adjust padding to make it slightly bigger */
  border: 1px solid #fff;
  border-radius: 5px;
}

/* Apply the new class to the logout button */
header .logout-button {
  color: #fff;
  text-decoration: none;
  padding: 8px 14px; /* Adjust padding to make it slightly bigger */
  border: 1px solid #fff;
  border-radius: 5px;
  position: fixed; /* Use fixed positioning */
  top: 5px; /* Position a bit below the top */
  right: 30px; /* Adjust the right value to move it more to the left */
}

/* Add hover effect for the logout button */
.logout-button:hover {
  background-color: #fff;
  color: #333;
}


/* end of header  */

/* Main body  */

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* end of main body  */

.container {
  width: 20%;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto; /* Add this line to center the container */
}

.container h1 {
  font-size: 35px;
  text-align: center; /* Center the text */
  margin-top: 20px; /* Adjust the top margin as needed */
  color: black; 
  font-family: 'Trocchi', serif; 
  font-size: 45px; 
  font-weight: normal; 
  line-height: 48px; 
  margin-bottom: 1;
  
}

.container ul li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/* Style for the inputs in the system  */
.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container input[type="number"]  {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.container .container-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}



/* Start Products containers  */

.products-container {
  width: 75%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.products-container th,
.products-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.products-container th {
  background-color: #f2f2f2;
}

.products-container td {
  font-size: 20px;
}

.products-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.products-container input {
  margin-bottom: 10px;
}

/* button for filter by  */
.products-container input[type="submit"][value="Filter by"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.products-container input[type="submit"][value="Filter by"]:hover {
  background-color: #45a049;
}


/* delete button  */
.products-container input[type="submit"][value="Delete"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.products-container input[type="submit"][value="Delete"]:hover {
  background-color: #45a049;
}


/* End of Products containers  */


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}



/* Add a new class for styling login button */

.container.categories-container {
  width: 30%;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px; /* Keep the margin-right for spacing */
  height: 100%; /* Set a fixed height for the container */
  overflow-y: auto; /* Add a vertical scrollbar if needed */
}

.container.categories-container h1 {
  margin-bottom: 10px;
}

.container.categories-container ul {
  padding: 0;
}

.container.categories-container li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

.container.products-container {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Add a new class for styling the "Add Inventory" button */
.add-inventory-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px; /* Adjust padding as needed */
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px; /* Adjust the width as needed */
  position: fixed; /* Use fixed positioning */
  top: 80px; /* Adjust the top value to position it vertically */
  right: 10px; /* Adjust the right value to position it horizontally */
}

/* Add hover effect for the "Add Inventory" button */
.add-inventory-button:hover {
  background-color: #45a049;
}
