body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.categories-container {
  width: 30%;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories-container ul li {
  list-style: none;
  border-bottom: 1px solid #ccc; /* Add a line at the bottom */
  padding: 10px;
}

.products-container {
  width: 65%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logout-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.logout-link:hover {
  background-color: #fff;
  color: #333;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #4CAF50; /* Green background color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

nav a:hover {
  background-color: #45a049; /* Darker green color on hover */
}
