<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IMG add page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Add Item</h1>
    <form method="POST" action="">
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      {{ form.product_name }}<br>
      {{ form.price }}<br>
      {{ form.quantity }}<br>
      {{ form.category }}<br>
      {{ form.submit }}
    </form>
    <a  href="{{ url_for('login_page') }}">back to login page</a>
  </body>
</html>