<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head section with the title and link to the external CSS file for styling -->
    <title>IMG add page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Body section -->

    <!-- Header section -->
    <header>
        <div class="logo-container">
            <h1 class="logo-heading">IMG</h1>
        </div>
        <div class="actions-container">
            <h2>Please enter your user name and password or create a new account</h2>
            <h1>Welcome to IMG</h1>
        </div>
    </header>

    <!-- Main content section -->
    <main>
        <!-- Add Item form -->
        <div class="container">
            <h1>Add Item</h1>
            <form method="POST" action="">
                <!-- CSRF protection tokens for security -->
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}

                <!-- Form fields for product_name, price, quantity, category, and submit button -->
                {{ form.product_name }}<br>
                {{ form.price(min=0) }}<br>
                {{ form.quantity(min=1) }}<br>
                {{ form.category(class="container-dropdown") }}<br>
                {{ form.submit(class="green-button") }}
            </form>
            <!-- Link to navigate back to dashnoard -->
            <a class="forward-button"  href="{{ url_for('login_page') }}">back to dashboard</a>
        </div>
    </main>

    <!-- Footer section -->
    <footer>
    </footer>
</body>
</html>
