<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chitter Login page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>IMG</h1>
    <h1 >Welcome back {{ user.username.title() }}</h1>
    
    <a href="{{url_for('add_item')}}" >+</a>

    {% for product in all %}
        {% if product.user_id == user.id %}
        <li> {{product.id}} {{product.product_name}} {{product.quantity}} {{product.category}}</li>
        <form method="POST" action="/login">
            <input type="hidden" name="delete_post" value="{{ product.id }}">
            <input type="submit" value="Delete">
        </form>
        {% endif %}
    {% endfor %}
   



<a href="{{url_for('main_page')}}" class="logout-link">Log out</a>
</body>
</html>