<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chitter Login page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>IMG</h1>
        <h1>Welcome back {{ user.username.title() }}</h1>
        <nav>
            <a class="styled-button" href="{{ url_for('add_item') }}">Add Inventory</a>
        </nav>
    </header>

    <main>
        
        <div class="container categories-container">
            <h1>Categories</h1>
            <ul>
                {% for product, value in product_count.items() %}
                    <li>{{ product }}  $ {{ value['price']}}  {{ value['category_count'] }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="container products-container">
            <h1>Products</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in all %}
                        {% if product.user_id == user.id %} 
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.product_name }}</td>
                                <td>$ {{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.category }}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('login_page') }}">
                                        <input type="hidden" name="delete_post" value="{{ product.id }}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <a href="{{ url_for('main_page') }}" class="logout-link">Log out</a>
    </footer>
</body>
</html>
