<!DOCTYPE html>
<html lang="en">
<head>
    <title>IMG register page</title>
    <!-- Link to the external CSS file for styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/register_page.css') }}">
</head>
<body>
    <!-- Body section -->

    <!-- Header section similar to other pages -->
    <header>
        <h1>IMG</h1>
        <h1>Register</h1>
    </header>

    <!-- Registration form similar to other pages -->
    <div class="container">
      <form method="POST" action="">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          {{ form.csrf_token }}
          {{ form.hidden_tag() }}
          {{ form.username }}<br>
          {{ form.password }}<br>
          {{ form.email }}<br>
        <nav>
          {{ form.submit(class="green-button") }}
          <!-- Link to navigate back similar to other pages -->
          <a class="forward-button" href="{{ url_for('main_page') }}">Already have an account? Log In</a>
        </nav>
      </form>
    </div>
    <!-- Footer section similar to other pages -->
    <footer>
    </footer>
</body>
</html>
